<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Jyoti's text.utils</title>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">jyoti's textutils.com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
  </head>
<body>
<div class="container col-6" >

    <h1> About text.utils</h1>
  The word count is the number of words in a document or passage of text. Word counting may be needed
  when a text is required to stay within certain numbers of words. This may particularly be the case in
  academia, legal proceedings, journalism and advertising. Word count is commonly used by translators to determine
  the price of a translation job. Word counts may also be used to calculate measures of readability and to measure
  typing and reading speeds (usually in words per minute). When converting character counts to words, a measure of 5
  or 6 characters to a word is generally used for English.

  <h2>Details and variations of definition</h2>
  Variations in the operational definitions of how to count the words can occur (namely, what "counts as" a word,
  and which words "don't count" toward the total). However, especially since the advent of widespread word processing,
  there is a broad consensus on these operational definitions (and hence the bottom-line integer result). The consensus
  is to accept the text segmentation rules generally found in most word processing software (including how word
  boundaries are determined, which depends on how word dividers are defined). The first trait of that definition is
  that a space (any of various whitespace characters, such as a "regular" word space, an em space, or a tab character)
  is a word divider. Usually a hyphen or a slash is, too. Different word counting programs may give varying results...
  <br>
<br>

depending on the text segmentation rule details, and on whether words outside the main text (such as footnotes,
  endnotes, or hidden text) are counted. But the behavior of most major word processing applications is broadly
  similar.


  <h2>Software</h2>
  Modern web browsers support word counting via extensions, via a JavaScript bookmarklet, or a script that is hosted
  in a website. Most word processors can also count words. Unix-like systems include a program, wc, specifically for
  word counting. There are a wide variety of word counting tools available online. Different word counting programs may
  give varying results, depending on the text segmentation rule details. The exact number of words often is not a
  strict requirement, thus the variation is acceptable.
</div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
<footer class="my-5 pt- 5text-muted text-center text-small bg-dark">
    <p class="mb-1 ">© 2021–2022 Jyoti's Utils.com
    <ul>
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
    </p>
</footer>

